@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #0c2461;
  position: relative;
  overflow-x: hidden;
  font-size: 16px;
}

ul {
  list-style: disc;
  margin: 0;
  padding-left: 20px;
}

a,
a:visited,
a:focus,
a:active,
a:hover {
  text-decoration: none;
  outline: none;
}

a,
button {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

button {
  cursor: pointer;
}

button:focus {
  outline: 0;
}

a {
  color: #000;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3 {
  margin-top: 0;
  font-family: "Poppins", sans-serif;
  color: #0e314c;
  font-weight: 600;
}

p,
ul {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #222;
}

.d-table {
  width: 100%;
  height: 100%;
}

.animation-jump {
  position: relative;
  -webkit-animation: animation-jump 2s ease-in-out infinite;
  animation: animation-jump 2s ease-in-out infinite;
}

@-webkit-keyframes animation-jump {
  0% {
    top: 3px;
  }
  50% {
    top: -3px;
  }
  100% {
    top: 3px;
  }
}

@keyframes animation-jump {
  0% {
    top: 3px;
  }
  50% {
    top: -3px;
  }
  100% {
    top: 3px;
  }
}

/*-------------------------------------------------------------------------------------
    header area
---------------------------------------------------------------------------------------*/

#header {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header-top li {
  display: inline-block;
  padding-right: 20px;
}

.header-top-wrap {
  border-bottom: 1px solid #e4f1fb;
  padding: 14px 0;
}

.header-cont-info li i {
  color: #fff;
  padding-right: 7px;
  z-index: 999;
}

.header-social li a {
  border: 1px solid #faae7b;
  display: block;
  width: 35px;
  height: 35px;
  line-height: 33px;
  text-align: center;
  border-radius: 4px;
  color: #faae7b;
  font-size: 15px;
}

.header-social li a:hover {
  background-color: #faae7b;
  color: #fff;
}

.header-social li {
  padding: 0 5px;
}

.navbar-nav .nav-link {
  color: #000;
  font-weight: 400;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: #faae7b;
}

.navbar-nav .nav-item {
  padding: 0 10px;
}

.mainmenu {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 0px 0px;
  width: 100%;
  background: #fff;
}

.mainmenu.sticky {
  position: fixed;
  z-index: 999;
  background: #000000c9;
  padding: 0px 0;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  top: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/*-------------------------------------------------------------------------------------
    hero area
---------------------------------------------------------------------------------------*/

#hero-area {
  background-image: url("../images/banner.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-btn a {
  display: inline-block;
  background-color: #ff6348;
  margin: 30px 0 0;
  color: #fff;
  padding: 10px 30px 15px;
  border-radius: 4px;
  font-weight: 600;
}

.hero-btn a:hover {
  background: #fb4f31;
}

.hero-btn i {
  padding: 10px 0 0 10px;
}

#hero-area.hero-two {
  background-color: #7dcaba;
  padding: 30px 0 0;
}

#hero-area.hero-three {
  padding: 140px 0 200px;
}

.slider .caption-img img {
  max-width: 400px;
}

.slider.owl-carousel .owl-nav > div {
  position: absolute;
  left: -50px;
  top: 50%;
  background-color: rgb(17 150 166);
  width: 50px;
  height: 50px;
  line-height: 54px;
  text-align: center;
  font-size: 30px;
  border-radius: 5px;
  color: #130f40;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #fff;
}

.slider.owl-carousel .owl-nav .owl-next {
  left: auto;
  right: -50px;
}

.slider.owl-carousel .owl-nav > div:hover {
  background-color: #1196a6;
  color: #fff;
}

.slider .owl-dots {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: -150px;
}

.slider .owl-dots .owl-dot {
  background-color: #fff;
  display: none;
  width: 15px;
  height: 15px;
  margin: 0 10px;
  border-radius: 3px;
}

#videosec {
  padding: 50px 0px;
}

.slider .owl-dots .owl-dot.active {
  background-color: #ff6348;
}

.owl-item.active .slide-single .caption h1 {
  -webkit-animation: 1s 0.2s fadeInUp both;
  animation: 1s 0.2s fadeInUp both;
}

.owl-item.active .slide-single .caption p {
  -webkit-animation: 1s 0.4s fadeInUp both;
  animation: 1s 0.4s fadeInUp both;
}

.owl-item.active .slide-single .hero-btn {
  -webkit-animation: 1s 0.6s fadeInUp both;
  animation: 1s 0.6s fadeInUp both;
}

.owl-prev {
  position: absolute;
  top: 35%;
  left: -60px;
}

.owl-next {
  position: absolute;
  top: 35%;
  right: -60px;
}

/*-------------------------------------------------------------------------------------
    about area
---------------------------------------------------------------------------------------*/

.about-cont {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.about-cont h6 {
  color: #faae7b;
  text-transform: uppercase;
  font-weight: 600;
}

.about-cont h2 {
  color: #000;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 35px;
  letter-spacing: 2px;
  position: relative;
}

.about-cont h2:after {
  content: "";
  background: #e21616;
  position: absolute;
  width: 150px;
  height: 2px;
  bottom: 0px;
  left: 0%;
  transform: translate(-0%);
}

.about-cont h5 {
  color: #898989;
  font-weight: 300;
  font-size: 18px;
  margin-top: 15px;
}

.about-cont p {
  margin-bottom: 0px;
  line-height: 25px;
}

.about-cont ul {
  margin: 20px 0 40px;
}

.about-cont li {
  padding: 6px 0;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 500;
}

.about-cont i {
  margin-right: 10px;
  color: #faae7b;
}

.about-cont a {
  display: inline-block;
  color: #fff;
  padding: 11px 25px;
  border-radius: 4px;
  font-weight: 400;
  margin-top: 10px;
  background: linear-gradient(115deg, #1196a62b, #5d444452);
}

.about-img.bg img {
  border-radius: 30px;
}

.ourdoctor45 h2 {
  width: 100%;
  transform: translate(-50%, -50%) !important;
}

.about-single i {
  color: #ff6348;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  margin: 0 0 25px;
}

.about-single h4 {
  font-weight: 600;
}

#about-area.two {
  padding: 95px 0 75px;
}

/*-------------------------------------------------------------------------------------
     section heading
---------------------------------------------------------------------------------------*/

.sec-heading {
  margin: 0 0 20px;
}

.sec-heading h6 {
  color: #c33c43;
  text-transform: uppercase;
  font-weight: 600;
}

.sec-heading h2 {
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 1px;
  position: relative;
  font-size: 35px;
}

.sec-heading h2:after {
  content: "";
  background: #c7373d;
  position: absolute;
  width: 150px;
  height: 2px;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%);
}

/*-------------------------------------------------------------------------------------
     features area
---------------------------------------------------------------------------------------*/

#feat-area {
  padding: 60px 0 50px;
}

.feat-head {
  overflow: hidden;
  margin-bottom: 12px;
}

.feat-single .icon {
  width: 12%;
}

.feat-single .title {
  width: 85%;
  padding-left: 10px;
}

.feat-single .hedig {
  font-weight: 400;
  margin: 10px 0 8px;
  font-size: 22px;
  margin-top: 0;
  color: #222;
}

.feat-head i {
  color: #ff6348;
  font-size: 40px;
  line-height: 46px;
  display: inline-block;
}

.feat-single {
  margin: 0 0 30px;
  overflow: hidden;
}

.feat-img img {
  max-width: 250px;
}

.feat-single.two {
  border-radius: 10px;
  overflow: hidden;
  margin: 0 0 20px;
}

.feat-icon {
  width: 18%;
  float: left;
}

.feat-cont {
  float: left;
  width: 82%;
}

.feat-icon i {
  color: #ff6348;
  font-size: 44px;
  display: inline-block;
  margin: 10px 0 0;
}

.feat-single.three .feat-icon {
  width: 14%;
}

.feat-single.three .feat-cont {
  width: 86%;
}

#feat-area.two {
  padding: 95px 0 55px;
}

/*-------------------------------------------------------------------------------------
    discount-area
---------------------------------------------------------------------------------------*/

#discount-area {
  padding: 95px 0;
}

.discount-cont h6 {
  font-weight: 600;
  text-transform: uppercase;
  color: #ff6348;
}

.discount-cont h2 {
  font-weight: 700;
  text-transform: capitalize;
}

.discount-cont a {
  display: inline-block;
  color: #fff;
  padding: 10px 22px;
  border-radius: 4px;
  font-weight: 400;
  background: linear-gradient(45deg, #3c2a70, #faae7b);
  margin: 15px 0 0;
}

.discount-cont.two a {
  margin: 15px 0 0;
}

.discount-cont a:hover {
  background-color: #fb4f31;
}

.offer-single {
  margin: 0;
  padding: 45px 30px 45px 30px;
  border-radius: 20px;
}

.discount-cont h3 {
  margin: 0 0 20px;
}

.discount-img {
  margin: 15px 0 0;
}

/*-------------------------------------------------------------------------------------
    video area
---------------------------------------------------------------------------------------*/

#video-area {
  padding: 95px 0 100px;
  position: relative;
}

.video-player-wrap {
  /*background-image: url(../images/watch-img-2.jpg);*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0px 0;
  border-radius: 20px;
}

.video-player-wrap iframe {
  border-radius: 40px;
}

.video-player a {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 30px;
  line-height: 80px;
  padding: 0 28px;
  background-color: #ff6348;
  color: #fff;
  position: relative;
}

.video-player a:hover {
  background-color: #ff4e56;
  color: #fff;
}

.video-player a:after {
  content: "";
  position: absolute;
  left: -5px;
  top: -5px;
  height: 90px;
  width: 90px;
  border: 3px solid #ff6348;
  border-radius: 50%;
  -webkit-animation: icon-bubble 1s infinite forwards linear;
  animation: icon-bubble 1s infinite forwards linear;
}

.video-player a:before {
  content: "";
  position: absolute;
  left: -5px;
  top: -5px;
  height: 90px;
  width: 90px;
  border: 3px solid #ff6348;
  border-radius: 50%;
  -webkit-animation: icon-bubble 1s infinite forwards linear 0.5s;
  animation: icon-bubble 1s infinite forwards linear 0.5s;
}

@-webkit-keyframes icon-bubble {
  0% {
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
    opacity: 1;
  }
  25% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 0.8;
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0.55;
  }
  75% {
    -webkit-transform: scale(1.32);
    transform: scale(1.32);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    opacity: 0;
  }
}

@-webkit-keyframes icon-bubble {
  0% {
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
    opacity: 1;
  }
  25% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 0.8;
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0.55;
  }
  75% {
    -webkit-transform: scale(1.32);
    transform: scale(1.32);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    opacity: 0;
  }
}

@keyframes icon-bubble {
  0% {
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
    opacity: 1;
  }
  25% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 0.8;
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0.55;
  }
  75% {
    -webkit-transform: scale(1.32);
    transform: scale(1.32);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    opacity: 0;
  }
}

/*-------------------------------------------------------------------------------------
    product area
---------------------------------------------------------------------------------------*/

#product-area {
  padding: 95px 0 100px;
}

.prod-single {
  border: 1px solid #e6f0fa;
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
}

.prod-info {
  padding: 40px 20px 45px;
}

.prod-img {
  overflow: hidden;
  padding: 60px 0 15px;
}

.prod-img img {
  margin: 0 auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  max-width: 230px;
}

.prod-single:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.prod-info i {
  display: inline-block;
  color: #ffb400;
  margin: 0 4px;
}

.prod-info h4 {
  font-weight: 600;
}

.prod-info h5 {
  color: #3b04db;
  margin: 10px 0 0;
  font-weight: 600;
}

.prod-info a {
  display: inline-block;
  margin: 25px 0 0;
  background-color: #faae7b;
  color: #fff;
  padding: 10px 35px;
  border-radius: 4px;
}

.prod-info a:hover {
  background-color: #fb4f31;
}

.product-carousel .owl-nav {
  text-align: center;
  margin: 35px 0 0;
}

.product-carousel .owl-nav > div {
  width: 50px;
  height: 50px;
  background-color: #fff;
  color: #2b96a6;
  text-align: center;
  display: inline-block;
  margin: 0 10px;
  font-size: 25px;
  line-height: 54px;
  border-radius: 5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.product-carousel .owl-nav > div:hover {
  background-color: #2b96a6;
  color: #fff;
}

.testi-carousel .owl-nav {
  text-align: center;
  margin: 35px 0 0;
}

.testi-carousel .owl-nav > div {
  width: 50px;
  height: 50px;
  background-color: #005567;
  color: #fff;
  text-align: center;
  display: inline-block;
  margin: 0 10px;
  font-size: 25px;
  line-height: 54px;
  border-radius: 5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.testi-carousel .owl-nav > div:hover {
  background-color: #1196a6;
  color: #fff;
}

/*-------------------------------------------------------------------------------------
    faq area
---------------------------------------------------------------------------------------*/

#faq-area {
  padding: 50px 0 0px;
}

.question-single {
  margin: 0 10px 30px 0;
}

.question-single h4 {
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
}

.card {
  margin: 0 0 16px;
  background: #d66b792e !important;
  border: 1px solid #c98c8c;
  padding: 10px 0px;
}

.card-header {
  border: 0;
  background-color: transparent;
  padding: 0;
}

.card-header a {
  display: block;
  padding: 20px 45px;
  border-bottom: 1px solid #e6f0fa;
  font-size: 25px;
  line-height: 35px;
  font-weight: 600;
  color: #162466;
  font-family: "Josefin Sans", sans-serif;
}

.card-body {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #3c6382;
  font-family: "Barlow", sans-serif;
  padding: 0px 20px;
}

.card-header button.btn.btn-link {
  font-size: 25px;
  font-weight: 600;
}

.card-header.active a:before {
  content: "\eab9";
}

.card-header a:before {
  content: "\eab2";
  font-family: "IcoFont";
  font-size: 14px;
  position: absolute;
  left: 20px;
  top: 20px;
  color: #ff4e56;
}

.card-header a:hover {
  color: #ff4e56;
}

.faq-img img {
  max-width: 330px;
}

#faq-area.three {
  padding: 95px 0 85px;
}

/*-------------------------------------------------------------------------------------
    testimonial area
---------------------------------------------------------------------------------------*/

#testi-area {
  padding: 95px 0 155px;
}

.client-comment > span > i {
  color: #faae7b;
  font-size: 50px;
}

.client-comment p i,
.client-comment .rating-star i {
  color: #f0932b;
  font-size: 20px;
  margin: 0 2px;
  display: inline-block;
}

.testi-single {
  border: 3px solid #e6f0fa;
  padding: 50px 30px 40px;
  border-radius: 20px;
}

.client-img {
  margin: 45px 0 20px;
}

.testi-single img {
  max-width: 100px;
  border-radius: 50%;
  margin: 0 auto;
}

.testi-single h4 {
  font-weight: 300;
  margin: 0;
  font-size: 22px;
}

.client-details h6 {
  font-weight: 400;
}

.testi-single.two {
  overflow: hidden;
}

.testi-single.two .client-img {
  width: 30%;
  float: left;
  margin: 0;
}

.testi-single.two .client-comment {
  width: 70%;
  float: left;
  padding-left: 10px;
}

.testi-single.two p {
  margin: 10px 0 25px;
}

.testi-carousel-three .testi-single {
  border: 0;
  padding: 0 50px;
}

.testi-carousel .owl-dots,
.testi-carousel-two .owl-dots,
.testi-carousel-three .owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -60px;
  text-align: center;
  width: 100%;
}

.testi-carousel .owl-dot,
.testi-carousel-two .owl-dot,
.testi-carousel-three .owl-dot {
  width: 16px;
  height: 16px;
  background-color: #0c2461;
  display: inline-block;
  margin: 0 6px;
  text-align: center;
  border-radius: 50%;
}

.testi-carousel .owl-dot.active,
.testi-carousel-two .owl-dot.active,
.testi-carousel-three .owl-dot.active {
  background-color: #e21616;
}

/*-------------------------------------------------------------------------------------
    newsletter area
---------------------------------------------------------------------------------------*/

#newsletter-area {
  padding: 95px 0 100px;
}

.newsletter-form {
  position: relative;
}

.newsletter-form input {
  height: 65px;
  padding-left: 20px;
  font-family: "Barlow", sans-serif;
}

.newsletter-form button {
  background-color: #ff6348;
  color: #fff;
  border: 0;
  font-size: 18px;
  height: 65px;
  padding: 0 35px;
  border-radius: 0 4px 4px 0;
  position: absolute;
  right: 0;
  top: 0;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}

.newsletter-form button:hover {
  background-color: #fb4f31;
}

/*-------------------------------------------------------------------------------------
    why choose area
---------------------------------------------------------------------------------------*/

#why-choose-area {
  padding: 100px 0 60px;
}

#why-choose-area .sec-heading {
  margin: 0 0 40px 30px;
}

.why-choose-cont {
  margin-left: 30px;
}

.why-choose-single {
  overflow: hidden;
  margin: 0 0 22px;
}

.why-choose-single .icon {
  width: 10%;
  float: left;
}

.why-choose-single .cont {
  float: left;
  width: 80%;
}

.why-choose-single i {
  display: inline-block;
  color: #ff6348;
  font-size: 30px;
}

.why-choose-single h4 {
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
}

.why-choose-single.two .icon {
  width: 16%;
}

.why-choose-single.two .cont {
  width: 84%;
}

.why-choose-single.two h4 {
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
}

#why-choose-area.two {
  padding: 95px 0 55px;
}

/*-------------------------------------------------------------------------------------
    contact area
---------------------------------------------------------------------------------------*/

#contact-area {
  padding: 50px 0 50px;
}

.contact-form input,
.contact-form textarea {
  font-size: 15px;
  border-color: #daecfd;
}

.contact-form input {
  height: 55px;
}

.contact-form input,
.contact-form textarea {
  height: 80px;
}

.contact-form input {
  height: 50px;
}

.contact-form label {
  font-weight: 700;
}

.contact-form button {
  background: linear-gradient(178deg, #e21616, #5d4444);
  padding: 15px 30px;
  color: #fff;
  border-radius: 4px;
  font-weight: 400;
  border: 0;
  font-family: "Barlow", sans-serif;
}

.help-block.with-errors li {
  color: #ff0000;
  margin: 4px 0 0;
}

.messages {
  margin: 15px 0 0;
}

.messages button {
  color: #000;
  padding: 0;
  background-color: transparent;
}

.messages button:hover {
  background-color: transparent;
}

.cont-info {
  margin: 30px 0 0 30px;
}

.cont-info-single {
  margin: 0px;
}

.cont-info-single h5 {
  font-weight: 600;
}

.cont-info-single i {
  color: #1095a6;
}

/*-------------------------------------------------------------------------------------
    facilities area
---------------------------------------------------------------------------------------*/

#facilities-area {
  padding: 100px 0 95px;
}

.facilty-single .icon {
  float: left;
  width: 30%;
}

.facilty-single i {
  display: inline-block;
  background-color: #fff;
  color: #ff6348;
  width: 90px;
  height: 90px;
  line-height: 90px;
  font-size: 50px;
  text-align: center;
  border-radius: 5px;
}

.facilty-single .cont {
  float: left;
  width: 100%;
  padding: 20px;
  background: #fff;
  border-radius: 30px;
  height: 200px;
  box-shadow: 0px 0px 22px rgb(0 0 0 / 16%);
}

.facilty-single h4 {
  font-weight: 300;
  margin: 0;
  font-size: 70px;
  margin-bottom: 10px;
  line-height: 60px;
}

/*-------------------------------------------------------------------------------------
    footer
---------------------------------------------------------------------------------------*/

#footer {
  overflow: hidden;
}

.footer-top {
  padding: 90px 0 65px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-single img {
  margin: 0 0 20px;
}

.footer-single li {
  display: block;
}

.footer-single a {
  margin: 0 0 20px;
  font-weight: 500;
  display: inline-block;
  color: #0c2461;
}

.footer-single p {
  color: #0c2461;
}

.subscribe input {
  height: 60px;
  border-radius: 30px;
  border: 0;
  padding-left: 30px;
}

.subscribe input,
.subscribe textarea {
  font-size: 15px;
  border-color: #e6f0fa;
}

.subscribe button {
  border: 0;
  height: 50px;
  border-radius: 30px;
  padding: 0 30px;
  color: #fff;
  font-weight: 600;
  position: absolute;
  right: 25px;
  top: 5px;
  background: #ff6348;
}

.subscribe button:hover {
  background: #fb4f31;
  color: #fff;
}

.footer-social {
  margin: 25px 0 0 15px;
}

.footer-social li {
  display: inline-block;
}

.footer-social li a {
  display: block;
  background: #fff;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  font-size: 20px;
  margin: 0 2px;
  border: 1px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
}

.footer-icon li a:hover {
  background: #fb4f31;
  color: #fff;
}

.footer-btm {
  padding: 25px 0;
}

.footer-btm p {
  font-weight: 500;
  margin: 0;
}

.footer-btm p a {
  color: #ff6348;
}

.footer-btm p a:hover {
  color: #fb4f31;
}

/*-------------------------------------------------------------------------------------
    demo area
---------------------------------------------------------------------------------------*/

.demo-header {
  padding: 100px 0;
}

.demo-header h2 {
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
}

.demo-body {
  padding: 100px 0 40px;
}

.demo-img {
  border: 1px solid #e6f0fa;
  border-radius: 10px;
  overflow: hidden;
}

.demo-sing-cont h5 {
  font-weight: 700;
  margin: 24px 0 0;
  color: #3b04db;
  font-size: 20px;
}

.demo-sing-cont a {
  display: inline-block;
  padding: 8px 26px;
  color: #3b04db;
  border-radius: 30px;
}

.demo-sing-cont a:hover {
  color: #ff4e56;
}

.demo-sing-cont a:hover {
  background-size: 200% auto;
}

.demo-single {
  margin: 0 0 60px;
}

.demo-header-cont a {
  display: inline-block;
  padding: 10px 33px;
  color: #fff;
  border-radius: 30px;
  font-weight: 600;
  margin: 30px 10px 0 0;
  background-color: #ff4e56;
}

.demo-header-cont a:hover {
  background-color: #e03b0d;
}

.demo-sing-cont a.live-demo {
  background-color: #ff4e56;
  color: #fff;
  font-weight: 500;
}

.demo-sing-cont a.live-demo:hover {
  background-color: #e03b0d;
}

.copyright {
  padding: 10px 0;
  background: #363636;
}

.copyright p {
  margin-bottom: 0;
  color: #fff;
}

.logo {
  height: 70px;
  display: inherit;
}

.navbar-nav li:last-child {
  padding-right: 0;
}

.navbar-nav li:last-child a {
  padding-right: 0 !important;
}

.ban_form {
  background: #f1f0ee;
  padding: 30px 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 4px 0px;
}

.ban_form h3 {
  font-size: 30px;
  margin-bottom: 20px;
  letter-spacing: 1px;
  position: relative;
  color: #000;
}

.ban_form form input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 60px;
  color: #000;
}

.ban_form form textarea {
  width: 100%;
  border: 1px solid #ddd;
  padding: 10px 20px;
  border-radius: 20px;
}

.ban_form form button {
  display: inline-block;
  color: #fff;
  padding: 12px 30px;
  border-radius: 4px;
  font-weight: 500;
  background: linear-gradient(178deg, #e21616, #5d4444);
  border: none;
  margin-top: 20px;
  outline: none;
}

.float_phone {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: #e21616;
  width: 50px;
  height: 50px;
  line-height: 47px;
  text-align: center;
  font-size: 25px;
  border-radius: 100%;
  border: 2px solid #e21616;
  z-index: 9999999;
  color: #fff;
  transition: all 0.5s;
}

.float_whats {
  display: inline-block;
  position: fixed;
  bottom: 80px;
  left: 20px;
  background: #25d366;
  width: 50px;
  height: 50px;
  line-height: 47px;
  text-align: center;
  font-size: 25px;
  border-radius: 100%;
  border: 2px solid #25d366;
  z-index: 9999999;
  color: #fff;
  transition: all 0.5s;
}

.float_phone:hover {
  background: #fff;
  color: #e21616;
}

.float_whats:hover {
  background: #fff;
  color: #25d366;
}

.row.d-flex.flex-column-reverse {
  flex-direction: unset !important;
}

@media (max-width: 480px) {
  .card-header button.btn.btn-link {
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
  }
  .card-body {
    font-size: 15px;
    line-height: 20px;
  }
}

@media (max-width: 768px) {
  .row.d-flex.flex-column-reverse {
    flex-direction: column-reverse !important;
  }
  .header-top-wrap {
    display: none;
  }
  #hero-area .caption.d-table {
    margin-top: 30px;
  }
  .float_whats {
    left: 10px;
  }
  .float_phone {
    left: 10px;
  }
  .facilty-single .cont {
    height: auto;
    margin-bottom: 20px;
  }
}

.mob-bann {
  display: none;
}

.navbar-logo {
  padding: 15px;
  color: #fff;
}

.navbar-mainbg {
  background-color: #5161ce;
  padding: 0px;
}

#navbarSupportedContent {
  overflow: hidden;
  position: relative;
}

#navbarSupportedContent ul {
  padding: 0px;
  margin: 0px;
}

#navbarSupportedContent ul li a i {
  margin-right: 10px;
}

#navbarSupportedContent li {
  list-style-type: none;
  float: left;
}

#navbarSupportedContent ul li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 15px;
  display: block;
  padding: 20px 20px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
}

#navbarSupportedContent > ul > li.active > a {
  color: #5161ce;
  background-color: transparent;
  transition: all 0.7s;
}

#navbarSupportedContent a:not(:only-child):after {
  content: "\f105";
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  transition: 0.5s;
}

#navbarSupportedContent .active > a:not(:only-child):after {
  transform: rotate(90deg);
}

.hori-selector {
  display: inline-block;
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 10px;
}

.hori-selector .right,
.hori-selector .left {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #fff;
  bottom: 10px;
}

.hori-selector .right {
  right: -25px;
}

.hori-selector .left {
  left: -25px;
}

.hori-selector .right:before,
.hori-selector .left:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #5161ce;
}

.hori-selector .right:before {
  bottom: 0;
  right: -25px;
}

.hori-selector .left:before {
  bottom: 0;
  left: -25px;
}

@media (min-width: 992px) {
  .navbar-expand-custom {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-custom .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-custom .navbar-toggler {
    display: none;
  }
  .navbar-expand-custom .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}

@media (max-width: 991px) {
  #navbarSupportedContent ul li a {
    padding: 12px 30px;
  }
  .hori-selector {
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .hori-selector .left,
  .hori-selector .right {
    right: 10px;
  }
  .hori-selector .left {
    top: -25px;
    left: auto;
  }
  .hori-selector .right {
    bottom: -25px;
  }
  .hori-selector .left:before {
    left: -25px;
    top: -25px;
  }
  .hori-selector .right:before {
    bottom: -25px;
    left: -25px;
  }
}

.header-cont-info a {
  display: inline-block;
  color: #fff;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: 400;
  background: #e21616;
}

.mobileview23 {
  display: none;
}

.header-cont-info1 ul {
  list-style: none;
}

/*--02 feb 2022--*/

#videogallary {
  padding: 50px 0px;
}

#clinicgallary {
  padding-top: 50px;
  padding-bottom: 50px;
}

.product-carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.product-carousel .item {
  height: 350px;
}

.inside-testi ul {
  padding: 0px;
}

.inside-testi ul li {
  display: inline-block;
}

.inside-testi {
  border-bottom: 1px solid #3c2a70;
}

#myTab {
  margin-bottom: 30px;
}

#testimonialsection {
  background: linear-gradient(45deg, black, transparent),
    url(../images/background.webp) no-repeat;
  background-size: cover;
  padding: 50px 0px;
  margin-top: 60px;
}

.outside-testi {
  background: #fff;
  padding: 15px;
  border-radius: 15px;
}

#myTabContent {
  overflow-y: scroll;
  height: 300px;
}

.inside-testi p {
  font-size: 15px;
  line-height: 20px;
}

#gallerysec456 {
  padding-top: 50px;
}

.left-text h2 {
  color: #fff;
}

.header-cont-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.header-cont-info ul li {
  margin-left: 20px;
}

.outside-servicesec p {
  line-height: 21px;
  margin-bottom: 5px;
  color: #fff;
  margin-top: 10px;
  font-size: 16px;
}

.outside-servicesec ol {
  margin-top: 15px;
}

.outside-servicesec ol li {
  font-weight: 600;
  color: #fff;
}

.outsidecounter {
  background: #000000bd;
  border-radius: 30px 0px;
  padding: 13px;
  box-shadow: 0px 0px 4px 0px;
  height: 150px;
}

.outsidecounter p {
  color: #fff;
  margin: 0px;
  line-height: 25px;
}

.outsidecounter h2 {
  color: #fff;
  font-size: 40px;
}

.ico {
  border: 2px solid #9daebf;
  background-color: #007c9d;
  text-align: center;
  border-radius: 10px;
  margin: 10px 0px;
  padding: 15px;
}

.ico h4 {
  color: #fff;
}

.ico p {
  color: #fff;
}

.ico img {
  height: 100px;
}

.inside-testi i {
  color: #b9a82e;
}

.imgdoc23 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.imgdoc23 {
  height: 340px;
}

.docoutside {
  border-radius: 15px;
  overflow: hidden;
}

.docoutside h4 {
  margin: 5px 0px;
  letter-spacing: 0px;
  color: #000;
}

.docoutside h6 {
  color: #c7353a;
}

.docoutside p {
  padding: 0px 0px;
  line-height: 25px;
  padding-bottom: 20px;
  text-align: left;
  color: #000;
}

.outsidebrand {
  text-align: center;
  border: 3px solid #247594;
}

.bafsec16mar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.bafsec16mar {
  height: 300px;
}

#bafsec {
  padding-top: 50px;
}

.outsidebrand h4 {
  background: #247594;
  color: #fff;
  margin: 0;
}

.outsidebrand img {
  padding: 20px;
  height: 80px;
}

.mainhead45 h1 {
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  color: #000;
}

.cta {
  background: linear-gradient(45deg, #00000059, transparent);
  padding: 50px 0px;
  text-align: center;
}

.cta-btn23 a {
  background: linear-gradient(115deg, #1196a6c4, #5d4444c9);
  color: #fff;
  padding: 15px;
  border-radius: 20px;
}

.cta-btn23 {
  margin-top: 30px;
}

.service-item {
  width: 250px;
  background: #ffffff;
  padding: 45px 40px;
  border-radius: 20px;
  margin: 0 35px;
  text-align: center;
  border: 1px solid rgba(222, 229, 234, 0.5);
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.service-item img {
  height: 55px;
}

.service-item .heading-6 {
  font-size: 15px;
  line-height: 20px;
  margin-top: 15px;
}

.service-item:nth-child(2) {
  margin-top: 40px;
}

.right-column-two {
  margin-top: 80px;
  margin-left: -55px;
}

#gallarysec {
  padding: 50px 0px;
}

.serviceitem20 {
  text-align: center;
}

.serviceitem20 h5 {
  margin-top: 20px;
}

/*--form heading--*/

.appcontent {
  position: relative;
  padding-bottom: 50px;
}

.appcontent h2 {
  text-align: center;
}

/*--form button--*/

.ban_form form button {
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 1px;
  overflow: hidden;
}

.ban_form form button:nth-child(1) {
  filter: hue-rotate(270deg);
}

.ban_form form button:nth-child(2) {
  filter: hue-rotate(110deg);
}

.ban_form form button span {
  position: absolute;
  display: block;
}

.ban_form form button span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #fa6900);
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.ban_form form button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #fa6900);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.ban_form form button span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #fa6900);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.ban_form form button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #fa6900);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

/*--bottom button--*/

.contact-form button {
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 1px;
  overflow: hidden;
}

.contact-form button:nth-child(1) {
  filter: hue-rotate(270deg);
}

.contact-form button:nth-child(2) {
  filter: hue-rotate(110deg);
}

.contact-form button span {
  position: absolute;
  display: block;
}

.contact-form button span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #fa6900);
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.contact-form button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #fa6900);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.contact-form button span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #fa6900);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.contact-form button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #fa6900);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

/*--about us button--*/

.about-btn a {
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 1px;
  overflow: hidden;
}

.about-btn a:nth-child(1) {
  filter: hue-rotate(270deg);
}

.about-btn a:nth-child(2) {
  filter: hue-rotate(110deg);
}

.about-btn a span {
  position: absolute;
  display: block;
}

.about-btn a span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(137deg, transparent, #0c0c0c);
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.about-btn a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(137deg, transparent, #0c0c0c);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.about-btn a span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(137deg, transparent, #0c0c0c);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.about-btn a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(137deg, transparent, #0c0c0c);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

#myTabContent::-webkit-scrollbar {
  width: 5px !important;
}

#myTabContent::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
  border-radius: 20px;
}

#myTabContent::-webkit-scrollbar-thumb {
  background: #ddd !important;
  border-radius: 20px;
}

#myTabContent::-webkit-scrollbar-thumb:hover {
  background: #ddd !important;
}

.rating24 img {
  width: 150px;
}

.rating24 h5 {
  color: #fff;
  margin-top: 20px;
}

.nvf45tg {
  justify-content: center;
  text-align: center;
  margin: auto;
}

.c-providers__block {
  position: absolute;
  width: 539px;
  height: 392px;
  border-radius: 20px;
}

.c-providers__block.one {
  right: -3px;
  bottom: 53px;
  background-color: #b0bdb66b;
}

.c-providers__block.two {
  right: 6px;
  bottom: 59px;
  width: 539px;
  height: 397px;
  background-color: #b7c3dd;
}

#backtotop {
  display: inline-block;
  background-color: #005567;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  z-index: 1000;
}

#backtotop::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  line-height: 40px;
  color: #fff;
}

#backtotop:hover {
  cursor: pointer;
  background-color: #333;
}

#backtotop:active {
  background-color: #555;
}

#backtotop.show {
  opacity: 1;
  visibility: visible;
}

.circle {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin: 30px 0 0 -10px;
  background: url(../images/hair-removal.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 80%;
  backface-visibility: hidden;
  z-index: 99999999;
}

#videogalary {
  padding-top: 0px;
  margin-bottom: 60px;
}

.cta {
  background: linear-gradient(45deg, #c7e5da08, transparent);
  padding: 50px 0px;
  text-align: center;
  margin-bottom: 30px;
}

.video_pop_box a.popup-youtube .play_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.play_icon img {
  width: 80px;
}

/*axisclinic css*/

.col-md-6 .col-md-6:nth-child(2) .single-why-choose-us {
  margin-top: 0;
}

.col-md-6 .col-md-6:nth-child(4) .single-why-choose-us {
  margin-top: -30px;
}

.col-md-6 .col-md-6:nth-child(1) .single-why-choose-us {
  margin-top: 60px;
}

.single-why-choose-us {
  padding: 30px 15px;
  border-radius: 5px;
  text-align: center;
  background: #ffffff;
  -webkit-box-shadow: 0 0 30px rgba(56, 46, 46, 0.1);
  box-shadow: 0 0 30px rgba(56, 46, 46, 0.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 30px;
}

.single-why-choose-us::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-radius: 5px;
  height: 100%;
  background: linear-gradient(135deg, #080808 0%, #e21616 100%);
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-why-choose-us .icon {
  color: #f13535;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-why-choose-us h3 {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-why-choose-us p {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-why-choose-us:hover {
  -webkit-transform: translateY(-9px);
  transform: translateY(-9px px);
  border-color: transparent;
}

.single-why-choose-us:hover::before {
  opacity: 1;
  visibility: visible;
}

.single-why-choose-us:hover h3,
.single-why-choose-us:hover p {
  color: #ffffff;
}

.single-team {
  background: #ffffff;
  padding: 30px 20px;
  margin-bottom: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
  text-align: center;
}

.single-team .team-image {
  position: relative;
  z-index: 1;
  padding-left: 35px;
  padding-right: 35px;
}

.single-team .team-image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  background: #f9f6f6;
  height: 10px;
  width: 100%;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-team .team-image img {
  border: 3px solid #0000007d;
  width: auto !important;
  display: inline-block !important;
  transition: 0.5s;
}

.team-content h3 {
  font-size: 18px;
  line-height: 25px;
}

.single-team .team-content span {
  min-height: 90px;
  display: block;
}

#docprofile {
  margin: 50px 0px;
  padding: 30px 0px;
  background-color: #f9f6f6;
  padding-bottom: 70px;
  margin-bottom: 0px;
}

.mainheading23 {
  text-align: center;
  margin-bottom: 20px;
}

.team-content {
  margin-top: 20px;
}

.product-carousel .owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -40px;
  text-align: center;
  width: 100%;
}

.product-carousel .owl-dot.active {
  background-color: #e21616;
}

.product-carousel .owl-dot {
  width: 16px;
  height: 16px;
  background-color: #0c2461;
  display: inline-block;
  margin: 0 6px;
  text-align: center;
  border-radius: 50%;
}

.box {
  position: relative;
  z-index: 1;
  display: block;
  padding: 5px 10px;
  color: #6084a4;
  font-weight: 500;
  border-radius: 3px;
  background-color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  margin-top: 20px;
  font-size: 12px;
}

.box::before {
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(135deg, #020202 0%, #a7a7a7 100%);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  border-radius: 3px;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.box i {
  color: #f13535;
  font-size: 13px;
  font-weight: 900;
}

a.plink {
  font-size: 13px;
}

.plink {
  color: #6084a4;
}

.box:hover .plink {
  color: #fff;
  text-decoration: none;
}

#servicesec h3 {
  font-size: 20px;
}

.box:hover {
  color: #ffffff;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

.box:hover::before {
  opacity: 1;
  visibility: visible;
}

.box::before {
  background: linear-gradient(135deg, #020202 0%, #a7a7a7 100%);
}

#servicesec {
  background-color: #f7fafd;
  padding: 40px 0px;
}

#countersec h5 {
  color: #f00;
  font-size: 25px;
  font-weight: 600;
}

#countersec {
  padding: 40px 0px;
}

#countersec span {
  color: #000;
  font-size: 16px;
}

#about-area {
  padding: 0px 0 60px;
  background-color: #f9f6f6;
}

#treatmentface {
  padding: 40px 0px;
  background-color: #f7fafd;
}

#treatmentface h3 {
  text-align: center;
  margin-bottom: 30px;
}

h3.splink {
  font-size: 18px;
  margin-top: 20px;
  text-align: left;
}

#treatmentface .icon {
  text-align: center;
}




